#root {
  max-width: 100vw;
  max-height: 80vh;
  
 
  
}

.NavBar{
  width: 98vw;
  border-bottom: 1px solid #E6E9EE;
  border-radius: 6px;
  
  
}

.Dashboard{
  display: flex;
  margin:0 3vw;
  
  
}

.Main{
  display: flex;
  flex-direction: column;
}



.MainContent{
  margin: 2px;

}
